.git
.github
.idea
.vscode
**/runtime/debug/**
**/runtime/logs/**
**/runtime/cache/**
node_modules
_legacy_html
_yii2_install
tools
vagrant
frontend/web/assets/*
!frontend/web/assets/.gitignore
*.md
!DEPLOY-RENDER.md
.env
.env.*
